/* &display=swap */

/* Обнуление */
@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Taviraj:regular&display=swap");

body {
   font-family: "Lato";
   min-height: 100%;
   color: #424551;
   padding: 20px 0;
}

.wrapper {
   max-width: 810px;
   margin: 0 auto;
}

h3 {
   text-transform: uppercase;
   font-size: 16px;
   line-height: 1.5;
   margin: 0px 0px 8px 0px;
   font-weight: 700;
}

h2 {
   line-height: 1.3;
   font-weight: 900;
   font-size: 46px;
   margin: 0px 0px 40px 0px;
}

.list {
   max-width: 390px;
   color: #424551;
   margin: 0px 0px 48px 0px;
}

.list li {
   line-height: 1.6;
   font-size: 16px;
   margin: 0px 0px 12px 0px;
   /* background: url("../img/check.png") 0 5px / 16px no-repeat; */
   padding: 0px 0px 0px 32px;
}

.list li::before {
   content: "";
   width: 16px;
   height: 16px;
   display: inline-block;
   background: url("../img/check.png") 0 0 / 16px no-repeat;
   margin: 0px 15px 0px -30px;
   transition: all 0.3s ease 0s;
}

.list li:hover::before {
   margin: 0px 8px 0px -23px;
}

button {
   font-family: "Lato";
   color: white;
   width: 161px;
   height: 44px;
   background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   font-size: 14px;
   font-weight: 700;
   line-height: 3.14;
   letter-spacing: 0.5px;
   border-radius: 4px;
   margin: 0px 0px 50px 0px;
   box-shadow: #424551;
}

button:hover {
   color: white;
   font-weight: 900;
   font-size: 14.5px;
   background: linear-gradient(55.95deg, #e44a44 0%, #f75e05 100%);
   margin: -2px 0px 50px 0px;
   width: 162px;
   height: 45px;
}

button:active {
   box-shadow: inset 1px 1px 5px black;
}

footer {
   font-family: "Taviraj";
}

.some-title {
   font-size: 36px;
   line-height: 1.11;
   color: #333333;
   display: inline-block;
}

.some-title::after {
   content: "";
   display: block;
   width: 65px;
   height: 1px;
   background-color: #333333;
   margin: 8px 0px 0px 0px;
   transition: all 0.5s ease 0s;
}

.some-title:hover::after {
   width: 100%;
   background-color: #ff3f3a;
}

.some-title:hover::first-letter {
   color: #ff3f3a;
}

.some-title:active::after {
   text-align: center;
   width: 2px;
   transition: all 0.1s ease 0s;
   /* margin: 8px auto 0 auto; */
}
